<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "background6.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm User1</h1>
    <p>Welcome to week 2 of my 12 Web Apps in 12 Weeks Challenge.</p>
    <p>Rails application Demo 2 </p>
  </div>
</div>